:root {
    --background: #ffff;
    --barcol: rgb(12, 80, 168);
    --header: rgb(8, 49, 83);
    --accent: rgb(20, 201, 201); 
    --txtclr: rgb(15, 13, 13);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--header);
    color: var(--txtcolor);
}

.header h1 {
    display: inline-block;
    font-size: 35px;
    padding-left: 65px;
}

.name {
    background-color: var(--accent);
    padding: 1%;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    justify-content: end;
}

.header nav ul li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 25px;
}

a {
    color: var(--accent);
    text-decoration: none;
    border-bottom: solid var(--accent);
}

body {
    background-color: var(--background);
}

.about {
    display: flex;
}

.me {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/PortPic.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
}

.me h2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: var(--accent);
    font-size: 25px;
    padding: 1%;
}

.h2 {
    display: flex;
    justify-content: end;
    color: var(--barcol);
    width: 20%;
    font-size: 50px;
    padding-right: 50px;
    background-color: pink;
}

h3 {
    background-color: var(--accent);
    width: 220px;
}

.aboutme {
    display: flex;
    width: 70%;
    justify-content: end;
    border-left: solid var(--barcol);
    padding: 1%;
    float: right;
}

.list {
    border-left: solid var(--barcol);
    display: flex;
    width: 75%;
    float: right;
    padding: 2%;
}

.label1 {
    position: relative;
    right: 1332px;
    top: 550px;
}

.to-do {
    position: relative;
    height: 90px;
    font-size: 40px;
    top: 120px;
    text-align: center;
}

.to-doc {
    position: relative;
    top: 40px;
    left: 20px;
    font-size: 18px;
}

.section {
    overflow: auto;
    margin-bottom: 20px;
}

.section .title {
    width: 20%;
    float: left;
}

.banner {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.banner img {
    width: 80%;
    border: 4px solid var(--accent);
    margin-left: 10%;
}

.banner .tag {
    position: absolute;
    top: 45%;
    left: calc(10% + 4px);
    background-color: var(--accent);
}

.banner h3 {
    background: var(--accent);
}

.section .content {
    width: calc(80% - 14px);
    float: right;
    border-left: 4px solid var(--barcol);
    padding-left: 10px;
}

.sub-banner {
    width: 50%;
}

.sub-banner-wrapper .sub-banner:nth-child(odd) img {
    margin-left: 20%;
}

.sub-banner-wrapper .sub-banner:nth-child(even) img { 
    margin-left: 2%;
}

.sub-banner-wrapper .sub-banner:nth-child(odd) .tag {
    left: calc(20% + 4px);
}

.sub-banner-wrapper .sub-banner:nth-child(even) .tag {
    left: calc(2% + 4px);
}

.sub-banner img {
    width: 78%;
    margin-left: 0;
}

.sub-banner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.conlinks {
    list-style: none;
}

.conlinks li {
    float: left;
    font-size: 25px;
    width: 25%;
    text-align: center;
}


