:root {
    --background: #ffff;
    --barcol: rgb(12, 80, 168);
    --header: rgb(8, 49, 83);
    --accent: rgb(28, 230, 230); 
    --txtclr: rgb(15, 13, 13);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--header);
    color: var(--txtcolor);
}

.header h1 {
    display: inline-block;
    font-size: 35px;
    padding-left: 65px;
}

.name {
    background-color: var(--accent);
    padding: 1%;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    justify-content: end;
}

.header nav ul li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 25px;
    border-bottom: solid var(--accent);
}

a {
    color: var(--accent);
    text-decoration: none;
}

body {
    background-color: var(--background);
}

.me {
    position: relative;
    height: 620px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/PortPic.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Text onto of image section of the webpage */
.me h2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: var(--accent);
    font-size: 25px;
    padding: 1%;
}

/* Ensures that the title on the left side of the page is floating on the right  */
.title {
    position: relative;
    right: 50px;
    text-align: end;
    color: var(--barcol);
    font-size: 50px;
    /* padding-right: 50px; */
}



h3 {
    width: 170px;
    font-weight: bold;
    font-size: 25px;
}

.text {
    position: relative;
    bottom: 20px;
    right: 10px;
}

.aboutme {
    display: flex;
    width: 70%;
    justify-content: end;
    border-left: solid var(--barcol);
    padding: 1%;
    float: right;
}

.section {
    overflow: auto;
    margin-bottom: 20px;
}

.section .title {
    width: 20%;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.banner {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    text-decoration: none;
}

.banner img:hover {
    opacity: 100%;
}

.banner img {
    width: 80%;
    border: 4px solid var(--accent);
    margin-left: 10%;
    opacity: 50%;
    transition: 0.25s ease-out;
}

.banner .tag {
    position: absolute;
    top: 60%;
    left: calc(10% + 4px);
    background-color: var(--accent);
    text-align: center;
    height: 70px;
}

.banner .tag h3 {
    position: relative;
    bottom: 20px;
}

.banner .tag p {
    position: relative;
    bottom: 45px;
}



.banner h3 {
    background: var(--accent);
}

.section .content .banner a {
    text-decoration: none;
}

.section .content {
    width: calc(80% - 14px);
    float: right;
    border-left: 4px solid var(--barcol);
    padding-left: 10px;
}

.sub-banner {
    width: 50%;
}

.sub-banner-wrapper .sub-banner:nth-child(odd) img {
    margin-left: 20%;
}

.sub-banner-wrapper .sub-banner:nth-child(even) img { 
    margin-left: 2%;
}

/* Tags that show what the projects are */
.sub-banner-wrapper .sub-banner:nth-child(odd) .tag {
    left: calc(20% + 4px);
}

/* Tags that show what the projects are */
.sub-banner-wrapper .sub-banner:nth-child(even) .tag {
    left: calc(2% + 4px);
}

.sub-banner img {
    width: 78%;
    margin-left: 0;
}

.sub-banner-wrapper {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.conlinks {
    list-style: none;
    color: var(--barcol);
}

.conlinks li {
    float: left;
    font-size: 25px;
    /* width: 20%; */
    text-align: center;
    color: var(--barcol);
}

footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer ul li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 25px;
    border-bottom: solid var(--accent);
}

@media screen and (max-width: 980px) {
    .tag {
        transform: scale(.8);
    }
    
}

@media screen and (max-width: 768px) {
    .me {
        background-position-x: -170px;
    }

    .title {
        position: relative;
        right: 30px;
        text-align: end;
        color: var(--barcol);
        font-size: 50px;
    }
    
    .sub-banner {
        width: 100%;
        margin-right: 20%;
    }

    .tag {
        transform: scale(.7);
    }

    .sub-banner-wrapper .sub-banner:nth-child(odd) .tag {
        left: calc(20% + 4px);
        position: absolute;
        left: 1px;
    }

    .sub-banner-wrapper .sub-banner:nth-child(even) .tag {
        position: absolute;
        left: 1px;
    }

    /* Aligns the sub-banner projects */
    .sub-banner-wrapper .sub-banner:nth-child(odd) img {
        margin-left: 25%;
    }
    
    .sub-banner-wrapper .sub-banner:nth-child(even) img { 
        margin-left: 25%;
    }
    
    .sub-banner-wrapper .sub-banner:nth-child(odd) .tag {
        /* left: calc(20% + 4px); */
    }
    
    .sub-banner-wrapper .sub-banner:nth-child(even) .tag {
        /* left: calc(2% + 4px); */
    }
    
}

@media screen and (max-width: 430px) {
    .banner {
        margin-bottom: 90px;
    }
    
}



